<router-outlet></router-outlet>

<h1>Hi this is my root component</h1>
<h3>My Name in App Component is {{ myName }}</h3>

<app-my-details [name]="myName" (nameChanged)="updateName($event)">
</app-my-details>

<br />
<br />
<hr />
<br />
<app-app1></app-app1>

<br />
<br />
<hr />
<br />
<h4>Pipes</h4>
<div>Today Date is {{ today | date: "ddMMMyy HH:mm" }}</div>
<div>My name is {{ myName | lowercase }}</div>
<div>My name is {{ myName | uppercase }}</div>
<div>My name is {{ myName | titlecase }}</div>
<div>Multiply 2 with 3 {{ 2 | mulitply: 3:7 }}</div>

<h2>Users</h2>
<div
  *ngFor="let user of (data$ | async)?.users"
  class="black-bg"
  [ngClass]="{ yellow: user?.name === 'Tarun' }"
>
  {{ user.name }}
</div>

<br />
<br />
<hr />
<br />

<h2>Form</h2>
<form (ngSubmit)="submitData()" [formGroup]="userFormGroup">
  <input type="text" formControlName="userName" />
  <input type="text" formControlName="userPhone" />
  <input type="text" formControlName="userAge" />
  <input type="text" formControlName="userGender" />

  <input type="submit" />
</form>
